sentence-transformers==2.2.2
langchain_huggingface
PyYAML
langchain-openai
python-dotenv
langchain-community
langchain-core
langchain-text-splitters
langgraph
chromadb
beautifulsoup4
arxiv
pypdf

# # Core LangChain packages
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain_classic
langgraph
playwright

# # Groq integration
langchain-groq
langchain_chroma

# # Embeddings & Transformers
transformers
torch
huggingface_hub>=1.0.0

# # Vector store
chromadb
faiss-cpu

# Loaders & Utilities
beautifulsoup4
arxiv
PyYAML
python-dotenv

# Optional (for OpenAI integration)
langchain-openai


# streamlit
streamlit
